<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269736373064-vuqb4a9t55m14kqvlqvodlti9nfcqfp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269736373064-vuqb4a9t55m14kqvlqvodlti9nfcqfp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269736373064-ahb4sa4ltnunuqta9fojpkp6j31ensnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCQqD4Fb22imr8szzRRBWkPku6K3NiO98</string>
	<key>GCM_SENDER_ID</key>
	<string>269736373064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>compett</string>
	<key>PROJECT_ID</key>
	<string>compettapp-1632154935531</string>
	<key>STORAGE_BUCKET</key>
	<string>compettapp-1632154935531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269736373064:ios:f9bde03d90f9708e98a17d</string>
</dict>
</plist>